[user]
	email = tobias.manske@mailbox.org
	name = Tobias Manske
	signingkey = FF57750B830AA3A1
[alias]
    lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    fzf = "!git lg --color=always | fzf --multi --preview 'git show --color=always {+2}' --ansi"
    cu = "!git branch --merged | grep -v '\\*' | grep -v master | xargs -n 1 git branch -d"
    undo = reset HEAD~
    ignore = "!gi() { curl -L -s https://www.gitignore.io/api/$@ ; } ; gi"
[commit]
	gpgsign = true
    template = ~/.gitmessage
[core]
	autocrlf = input
[github]
	user = rad4day
[pull]
	rebase = true
